In [2]:
print ("Haris Ahmed")

Haris Ahmed

In [10]:
print ("Haris Ahmed","Raees Ahmed")

Haris Ahmed Raees Ahmed

In [11]:
x=5
x

5

In [12]:
print(x/4)

1.25

In [13]:
x//=4
x

1

In [14]:
name = "Haris Ahmed"
print (name)

Haris Ahmed

In [15]:
name += "Raees Ahmed"
print(name)

Haris AhmedRaees Ahmed

In [16]:
name = "Haris Ahmed"
print(name)

Haris Ahmed

In [17]:
name += " Raees Ahmed"
print (name)

Haris Ahmed Raees Ahmed

In [18]:
A = 8
B = 9
print(A)

8

In [19]:
A = 8
B = 9
print(A+B)

17

In [20]:
B += 17
B

26

In [21]:
B += 17
print(B)

43

In [22]:
B += 17
B

60

In [23]:
B = 7
B

7

In [24]:
B += 13
B

20

In [30]:
FirstName = "Haris"
LastName = "Ahmed"
Age = 19
message="My Name is "+ FirstName +" "+LastName + " and im " + str(Age) + " years old"

In [31]:
message.title()

'My Name Is Haris Ahmed And Im 19 Years Old'

In [32]:
message.upper()

'MY NAME IS HARIS AHMED AND IM 19 YEARS OLD'

In [33]:
message.lower()

'my name is haris ahmed and im 19 years old'

In [35]:
name = "           Haris Ahmed        "
print(name)

           Haris Ahmed

In [36]:
name.lstrip()

'Haris Ahmed        '

In [37]:
name.rstrip()

'           Haris Ahmed'

In [38]:
name.strip()

'Haris Ahmed'

In [39]:
print("Haris \n Ahmed \t and im 19 years old")

Haris
 Ahmed 	 and im 19 years old

In [40]:
print("Haris\n Ahmed \t \nand im 19 years old")

Haris
 Ahmed
and im 19 years old

In [41]:
print("Haris \nAhmed\t\nand im 19 years old")

Haris
Ahmed
and im 19 years old

In [44]:
message=" My Name is Haris AHmed and My father's Raees Ahmed"
print(message)

 My Name is Haris AHmed and My father's Raees Ahmed

In [45]:
print(" My Name is Haris AHmed and My father's Raees Ahmed")

 My Name is Haris AHmed and My father's Raees Ahmed

In [46]:
message

" My Name is Haris AHmed and My father's Raees Ahmed"

In [47]:
message=" My Name is 'Haris Ahmed' and My father's 'Raees Ahmed'"
message

" My Name is 'Haris Ahmed' and My father's 'Raees Ahmed'"

In [50]:
message= 'My Name is "Haris Ahmed" and My father\s "Raees Ahmed" '
message

'My Name is "Haris Ahmed" and My father\\s "Raees Ahmed" '

In [6]:
B= "python"
print(B)

python

In [7]:
B.title()

'Python'

In [8]:
B.lower()

'python'

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
name=input("enter your name")
father_name = input("enter your father name ")
roll_num=input("enter your roll num")

enter your nameharis
enter your father name raees ahmed
enter your roll num78846

In [31]:
a = "pakistan"
b = "zindabad"
a + b #concanidate

'pakistanzindabad'

In [32]:
a=5
b=7
a + b #addition

12

In [ ]:
#operators

In [ ]:
# pemdas
+,-,*,/,%,//,** #mathematics
=,+=,-=,*=,/=,%= # Assingn operators
==,>,<

In [33]:
a= india 
a

NameError: name 'india' is not defined

In [34]:
a = india 
a

NameError: name 'india' is not defined

In [35]:
a+= india
a

NameError: name 'india' is not defined

In [36]:
python = "india "
python

'india '

In [37]:
python += "paKISTAN"
python

'india paKISTAN'

In [41]:
5==5

True

In [42]:
5==7

False

In [43]:
5>8

False

In [46]:
a= "abc"
b= "katrachi"
c = 27
a + b + str(c)

'abckatrachi27'

In [47]:
a= 56
b= 65
a +

121

In [ ]:
v=
a= 56
b= 65

In [1]:
python ="""
**********H.company********
employe name: harry
Designation: M.D
salary: 200000 """
print(python)

**********H.company********
employe name: harry
Designation: M.D
salary: 200000

In [4]:
Name=input("enter your name")
Father_name=input("enter your father name")
roll_num=input("enter your roll num")

enter your nameHaris Ahmed
enter your father nameRaees ahmed
enter your roll num79986

In [6]:
Name=input(" enter your name ")
Father_name=input(" enter your father name ")
roll_num=input(" enter your roll num ")

 enter your name haris ahmed
 enter your father name raees ahmed
 enter your roll num 7899